$white: white;
$black: black;
$box-shadow: 0px 0px 20px -8px rgba(91,91,91,0.66);
$beizer: cubic-bezier(.7, .27, .15, .83);

$space-3: 3px;
$space-5: 5px;
$space-8: 8px;
$space-16: 16px;
$space-24: 24px;
$space-32: 32px;

$radius-10: 10px;
$radius-8: 8px;
$radius-5: 5px;
$radius-3: 3px;
$radius-2: 2px;

$text-8: 8px;
$text-10: 10px;
$text-12: 12px;
$text-14: 14px;
$text-16: 16px;
$text-20: 20px;
$text-24: 24px;
$text-36: 36px;
