.cart {
    width: 350px;
    height: 100%;
    position: fixed;
    display: flex;
    flex-flow: column;
    transform: translateX(100%);
    justify-content: space-between;
    top: 0;
    right: 0;
    z-index: 20;
    background-color: white;
    box-shadow: $box-shadow;

   

    .cart-content{
        margin: $space-16;
        overflow-y: scroll;
        & > .title{
            display: flex;
            align-items: center;
            margin-bottom: $space-16;
            justify-content: space-between; 

            & > .icon-wrap{
                height: 15px;
                width: 15px;
            }
    
        }
        &::-webkit-scrollbar {
            display: none;
        }

    }

    .cart-bottom {
        display: flex;
        flex-direction: column;
        margin: $space-16;

        .button{
            width: 100%;
        }
    }

    &--hide {
        animation: anim-hide 0.7s forwards;
        animation-timing-function: $beizer;
    }

    &--show {
        animation: anim-show 0.7s forwards;
        animation-timing-function: $beizer;


    }

    @keyframes anim-hide {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(100%);
        }

    }

    @keyframes anim-show {
        0% {
            transform: translateX(100%);
        }

        100% {
            transform: translateX(0%);
        }

    }
}