.header {
    width: 100%;
    height: 70px;
    box-shadow: $box-shadow;

    .inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
        padding: 0 $space-16;
        height: 100%;
        max-width: 1684px;
        background-color: white;
    }

    .logo-container {
        .logo {}
    }

    .menu {
        align-items: center;
        display: flex;
        list-style: none;
        text-decoration: none;

        .item {
            margin-left: $space-24;
            a {
                text-decoration: none;
            }

            &:hover {
                cursor: pointer;
            }
        }
    }
}