.nav-item {
    color: black;
    position: relative;
    outline: none;

    .border {
        left: 0;
        margin-top: $space-3;
        position: absolute;
        width: 0;
        height: 2px;
        background-color: black;
        transition: width 0.3s $beizer;

    }

    &:hover {
        & .border {
            width: 100%;
        }
    }
}